@import url('https://fonts.googleapis.com/css2?family=Karla&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Markazi+Text&display=swap');

body {
  display: grid;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #edefee;
} 

h1 {
  font-size: 56pt; 
}

h3 {
  font-size: 32pt; 
  text-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.hero, .dishes, .about {
  padding-left: 30px;
  padding-right: 30px;
}

.header {
  padding-right: 10px;
  background-color: #ffffff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  box-sizing: border-box;
}

nav {
  background-color: #f4ce14;
  border-radius: 15px;
  max-width: 60%;
  flex-grow: 1;
  display: flex;
  justify-content: space-evenly;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.list {
  list-style: none;
  padding: 5px;
  margin: 0;
  display: flex;
  justify-content: space-around;
}

ul.list {
  list-style: none;
  display: flex;
  gap: 60px;
}

.item {
  cursor: pointer;
}

.item a {
  text-decoration: none;
  color: #495e57;
  font-weight: bolder;
  padding: 5px;
  font-family: 'Karla', sans-serif;
  transition: all 0.3s ease;
}

.item a:hover {
  background-color: #495e57d3;
  color: #f4ce14;
  overflow: hidden;
}

.hero {
  background-color: #495e57;
  color: #edefee;
  font-family: 'Karla', sans-serif;
}

.hero h1, .hero h3 {
  padding-left: 100px;
  font-family: 'Markazi Text', sans-serif;
  margin: 0;
}

.hero h5 {
  padding-bottom: 20px;
  padding-left: 100px;
  font-weight: 450;
  font-family: 'Karla', sans-serif;
  font-size: 14pt; /* Reduced from 16pt */
  width: 350px;
  margin-bottom: 0px;
}

.hero-image {
  position: absolute;
  top: 49px;
  left: 6.5%;
}

.hero-image img {
  max-width: 100%;
  border-radius: 10px;
}

.overlay-text {
  position: absolute;
  top: 20px; /* Adjust as needed */
  right: 15%;
}

.reserve-button-link {
  display: inline-block;
  background-color: #f4ce14;
  margin-left: 100px;
  margin-bottom: 30px;
  border-radius: 8px;
  width: 150px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  font-size: 18px;
  font-weight: bold;
  color: #333333;
  font-family: 'Karla', sans-serif;
  text-decoration: none;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.reserve-button-link:hover {
  background-color: #f1e8be;
}


h2 {
  color: #333333;
  font-family: 'Karla', sans-serif;
  font-size: 20pt; /* Reduced from 18pt */
  text-align: center;
  padding-top: 30px;
  text-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.dishes {
  display: flex;
  gap: 110px;
  justify-content: center;
}

section b {
  font-size: 14pt; /* Reduced from 16pt */
}

section p {
  font-size: 12pt; /* Reduced from 14pt */
  width: 300px;
  text-align: left;
  padding: 20px;
  padding-top: 10px;
}

article {
  background-color: #f9f8fa;
  color: #333333;
  border-radius: 15px;
  padding: 0;
  text-align: center;
  box-sizing: border-box;
  font-family: 'Karla', sans-serif;
  height: 450px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

article a {
  text-decoration: none;
  color:#333333;
  transition: color 0.3s ease;
}

article a:hover {
  color: #ee9972;
}

article img {
  border-radius: 15px;
  
}

span {
  color: #ee9972;
  padding-left: 40px;
}

.about {
  padding: 50px;
  padding-left: 125px;
  display: flex;
}

.about-box {
  color: #edefee;
  background-color: #495e57;
  width: 500px;
  padding: 20px;
  padding-bottom: 40px;
  border-radius: 15px;
  z-index: 2;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.about-box h1 {
  color: #f4ce14;
  font-family: 'Markazi Text', sans-serif;
  margin: 0;
}

.about-box h3 {
  padding: 0;
  font-family: 'Markazi Text', sans-serif;
  margin: 0;
}

.about-box p {
  font-family: 'Karla', sans-serif;
  text-align: justify;
}

.footer {
  display: flex;
  background-color: #495e57;
  margin: 0 auto;
  color: #edefee;
  max-width: 100%;
  font-family: 'Karla', sans-serif;
}

.footer-content {
  display: flex;
  flex: auto;
  justify-content: space-evenly;
}

.copyright {
  padding: 50px;
}

.footer-logo {
  padding-left: 10px;
  padding-right: 10px;
  border-right: #edefee;
  border-bottom: #495e57;
  border-top: #495e57;
  border-left: #495e57;
  border-style: solid;
}

.reservation-form {
  display: flex;
  justify-content: center;
  padding: 2rem;
  padding-top: 0;
  align-items: center;
}

.reserve {
  border-radius: 8px;
  background-color: #495e57;
  margin: 0 auto;
  margin-top: 10px;
  display: block;
  font-weight: bold;
  font-size: 14px;
  color:#f4ce14;
  width: 170px;
  height: 40px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.reserve:hover {
  background-color: #f4ce14;
  color: #495e57;
}

.testimonials {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 50px;
}

.testimonials form {
  max-width: 500px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}

.star-rating {
  display: flex;
  gap: 10px;
  background-color: #f9f8fa;
  border-radius: 8px;
  border: 2px solid #495e57;
  padding-left: 10px;
  padding-right: 10px;
}

.star {
  font-size: 30px;
  color: #ccc; 
  cursor: pointer;
}

.star-filled {
  color: #f4ce14; 
}

.star-empty:hover {
  color: #f4ce14; 
}

input[type="text"],
input[type="number"],
input[type="date"],
select,
textarea {
  padding: 10px;
  width: 300px;
  font-size: 14px;
  border: 2px solid #495e57;
  border-radius: 8px;
  font-family: 'Karla', sans-serif;
  color: #333;
  background-color: #f9f8fa;
  transition: border-color 0.3s ease;
}

input[type="text"]:focus,
input[type="number"]:focus,
input[type="date"]:focus,
select:focus,
textarea:focus {
  border-color: #f4ce14;
  text-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  outline: none;
}

input:invalid, select:invalid {
  border: 2px solid red;
}

.submit {
  margin-top: 20px; 
  font-family: karla; 
  font-size: 16px;
  background-color: #495E57; 
  color: #F4CE14; 
  width: 90px; 
  height: 35px; 
  border-radius: 8px; 
  cursor:pointer;
  transition: all 0.3s ease-in-out;
}

.submit:hover {
  background-color: #F4CE14;
  color: #495E57;
}

.section-divider {
  height: 1px;
  background-color: #495e57; 
  margin: 50px auto;
  width: 80%;
  border: none;
}